[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: none;
  }
  .colors .active {
    background-color: #6777ef !important;
    color: white !important;
    box-shadow: 0 2px 6px #acb5f6;
    border: 2px solid #6777ef !important;
  }

  .colors .color:hover {
    border: 2px solid #6777ef;
    transition: 0.3s ease;
  }

  .colors .color {
    color: #282B43;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    border: 2px solid #f1f2f5;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #payment-selection #alipay {
    color: #029de3;
    border: 2px solid #f1f2f5;
    transition: 0.3s ease;
  }

  #payment-selection #wechat {
    color: #00b235;
    border: 2px solid #f1f2f5;
  }

  #payment-selection #qqpay {
    color: #11b7f5;
    border: 2px solid #f1f2f5;
  }

  #payment-selection #crypto {
    color: #ffa425;
    border: 2px solid #f1f2f5;
  }

  #payment-selection #unionpay i {
    font-size: 1.2rem;
    vertical-align: -3px;
  }

  #payment-selection #alipay:hover {
    color: #029de3;
    border: 2px solid #029de3;
  }

  #payment-selection #wechat:hover {
    color: #00b235;
    border: 2px solid #00b235;
  }

  #payment-selection #qqpay:hover {
    color: #11b7f5;
    border: 2px solid #11b7f5;
  }

  #payment-selection #crypto:hover {
    color: #ffa425;
    border: 2px solid #ffa425;
  }

  #payment-selection #alipay[class*="active"] {
    background: #029de3 !important;
    box-shadow: 0 2px 6px #029ce370;
    border: 2px solid #029de3 !important;
  }

  #payment-selection #wechat[class*="active"] {
    background: #00b235 !important;
    box-shadow: 0 2px 6px #00b23570;
    border: 2px solid #00b235 !important;
  }

  #payment-selection #qqpay[class*="active"] {
    background: #11b7f5 !important;
    box-shadow: 0 2px 6px #11b8f570;
    border: 2px solid #11b7f5 !important;
  }

  #payment-selection #crypto[class*="active"] {
    background: #ffa425 !important;
    box-shadow: 0 2px 6px #ffa42580;
    border: 2px solid #ffa425 !important;
  }

  #payment-selection .fas,
  .far,
  .fab,
  .fal {
    font-size: 1rem;
  }

  .colors .color {
    height: auto !important;
  }

  .color .pricing-inside {
    display: block;
    font-weight: bold;
    font-size: 2.8em;
  }

  .color .pricing-super {
    vertical-align: super;
    padding-right: 3px;
    font-size: 0.5em;
    margin-left: 6px;
    margin-right: 0px;
    font-weight: 500;
  }

  .color .per-month {
    position: relative;
    color: #B1C1CA;
    font-weight: 500;
    font-size: 0.2em;
    top: -0.1em;
    left: -1.6em;
  }

  #plan-selection .color[class*="active"] .badge {
    background: #fff;
    color: #6777ef;
  }
  /* 滚动槽 */
  ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
  }
  ::-webkit-scrollbar-track {
      border-radius: 3px;
      background: rgba(0,0,0,0.06);
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
  }
  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background: rgba(0,0,0,0.12);
      -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
  }