@media only screen and (min-width: 1024px){
    .title{
        color: #fff;
        width:max-content;
        margin-top: 4px;
        margin-left: -10px;
    }
    .link-font{
        margin-top: 5px;
        font-size: 40px;
        color: #fff;
    }
    .gu-zhu{
          height: 400px;
          overflow-y: scroll;
        }
    .toux{
      background-size: 100px;
      height: 100px;
      width: 100px;
      border-radius:100%;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 50px;
    }
    .card{
      width: auto;
      margin: 10px;
    }
    .gu-txt{
      margin-top: 30px;
      text-align: center;
    }
  .gu-text-in{
    margin-left: 10px;
  }
}
@media only screen and (max-width: 1023px) {
    .title{
        color: #fff;
        width:max-content;
        margin-top: 4px;
        margin-left: -10px;
    }
    .link-font{
        font-size: 40px;
        color: #fff;
        margin-top: 10px;
    }
    .gu-zhu{
          height: 500px;
          overflow-y: scroll;
    }
    .toux{
      background-size: 100px;
      height: 100px;
      width: 100px;
      border-radius:100%;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 20px;
    }
    .card{
      width: auto;
      margin: 10px;
    }
    .gu-txt{
      margin-top: 30px;
      text-align: center;
    }
  .gu-text-in{
    margin-left: 30px;
  }
}

@media only screen and (max-width: 992px) {
  .title{
    color: #fff;
    width:max-content;
    margin-top: 4px;
    margin-left: -10px;
}
.link-font{
    font-size: 40px;
    color: #fff;
    margin-top: 5px;
}
.gu-zhu{
      height: 500px;
      overflow-y: scroll;
}
.toux{
  background-size: 100px;
  height: 100px;
  width: 100px;
  border-radius:100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.card{
  width: 300px;
  margin: 10px;
}
.gu-txt{
  margin-top: 30px;
  text-align: center;
}
.gu-text-in{
margin-left: 50px;
text-align: left;
}
}

@media only screen and (max-width: 767px) {
    .toux{
      background-size: 100px;
      height: 100px;
      width: 100px;
      border-radius:100%;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 20px;
    }
    .card{
      width: 500px;
      margin: 10px;
    }
    .gu-txt{
      margin-top: 30px;
      text-align: center;
    }
  .gu-text-in{
    margin-left: 30px;
  }
}


@media only screen and (max-width: 576px) {
    .title{
        color: #fff;
        width:max-content
    }
    .link-font{
        display:none;
    }
    .gu-zhu{
          height: 500px;
          overflow-y: scroll;
        }
    .toux{
    background-size: 100px;
    height: 100px;
    width: 100px;
    border-radius:100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .card{
      width: auto;
      margin: 10px;
    }
  .gu-txt{
    margin-top: 35px;
    text-align: left;
  }
  .gu-text-in{
    margin-left: -20px;
  }
  .gu-title{
    font-size: 20px;
    margin-left: 10px;
  }
  .gu-title-size{
    font-size: 20px;
    margin-left: 10px;
  }
  .gu-txt{
    margin-top: 40px;
  }
  .gu-text-in{
    margin-left: 50px;
  }
}

@media only screen and (max-width: 356px) {
    .title{
        color: #fff;
        width:max-content
    }
    .link-font{
        display:none;
    }
    .gu-zhu{
          height: 500px;
          overflow-y: scroll;
        }
    .toux{
      background-size: 50px;
      height: 50px;
      width: 50px;
      border-radius:100%;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 20px;
  }
  .card{
      width: auto;
      margin: 10px;
    }
  .gu-txt{
    margin-top: 10px;
  }
  .gu-text-in{
    margin-left: 20px;
  }
  .gu-title-size{
    font-size: 10px;
    margin-left: 10px;
  }
  .gu-title{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
  }
}

/* 文本截断 */
.text-truncate {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}